fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlmodel==0.0.24
pyjwt==2.10.1
asyncpg==0.30.0
psycopg2-binary==2.9.11
sqlalchemy[asyncio]==2.0.40
python-dotenv==1.1.0
httpx==0.28.1
pytest==8.3.5
pytest-asyncio==0.25.3
aiosqlite==0.21.0
